<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-4 offset-md-4 card form">
  <h2>Change password</h2>

  <br />

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-green' %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>
