<div class="form-reg py-5">
  <h2 class="mb-4">Change password</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="text-left">
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :password,
                  required: false,
                  label: 'New password',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  label: 'New password (again)',
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <%= f.button :submit, "Update", class: 'btn btn-green btn-300 mt-4 mb-2' %>
  <% end %>

  <%= link_to 'Cancel', :back, class: 'btn btn-outline-blue btn-300' %>
</div>
