<div class="container">
  <h2 class="mb-4">Family</h2>

  <div class="row mb-5">
    <div class="col-12 col-md-4 mb-3 section">
      <h4 class="mb-4">Incoming requests:</h4>
      <% if @user.friend_requests? %>
        <% @requests.each do |friend| %>
          <div class="family-avatar-container mb-4">
            <% if User.find(friend).avatar.present? %>
              <%= image_tag User.find(friend).avatar_url(:thumb), class: 'avatar family-avatar' %>
            <% else %>
              <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
            <% end %>
            <strong class="d-block">
              <%= "#{User.find(friend).firstname} #{User.find(friend).lastname}" %>
            </strong>
            <div class="d-flex justify-content-center">
              <div class="d-inline">
                <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
                  <input class="btn btn-green btn-sm mt-2 mx-1" type=submit value='Accept'>
                <% end %>
              </div>
              <div class="d-inline">
                <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
                  <input class="btn btn-danger btn-sm mt-2 mx-1" type=submit value='Deny'>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>None currently</p>
      <% end %>
    </div>

    <div class="col-12 col-md-4 mb-3 section">
      <h4 class="mb-4">Pending requests:</h4>
      <% if @user.requested_friends? %>
        <% @pending.each do |friend| %>
          <div class="family-avatar-container mb-4">
            <% if User.find(friend).avatar.present? %>
              <%= image_tag User.find(friend).avatar_url(:thumb), class: 'avatar family-avatar' %>
            <% else %>
              <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
            <% end %>
            <br />
            <strong>
              <%= "#{User.find(friend).firstname} #{User.find(friend).lastname}"  %>
            </strong>
          </div>
        <% end %>
      <% else %>
        <p>None currently</p>
      <% end %>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <h4 class="mb-4">Find family members:</h4>
      <%= form_tag ({controller: 'friends', action: 'search'}) do %>
        <input type="text" name="search" id="search" class="mb-1">
        <input class="btn btn-blue" type="submit" name="commit" value="Search" data-disable-with="Search">
      <% end %>
      <p class="text-muted small mt-2">Enter the first and last name or e-mail address of the family member you want to find</p>
    </div>
  </div>

  <h4 class="mb-4">Your family:</h4>

  <% if ! @user.friends.empty? %>
    <% @friends.each do |friend| %>
      <div class="d-inline-block m-3">
        <% if User.find(friend).avatar.present? %>
          <%= image_tag User.find(friend).avatar_url(:thumb), class: 'avatar family-avatar' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
        <% end %>
        <strong class="d-block">
          <%= "#{User.find(friend).firstname} #{User.find(friend).lastname}"  %>
        </strong>
        <%= form_tag ({controller: 'friends', action: 'remove', method: 'post', id: friend.id}) do %>
          <input class="btn btn-outline-danger btn-sm mt-2" type=submit value='Remove'>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>You have not added any family members yet.</p>
  <% end %>
</div>