<div class="container py-5">
  <h2 class="mb-4">Search results</h2>

  <div class="family-members mb-4">
    <% if @results == [] %>
      <p class="lead"><strong>No results found</strong></p>
      <p><strong>NOTE:</strong> Your search must match either the <u>first AND last name</u> or the <u>full e-mail address</u> of the family member you are trying to find.</p>
    <% else %>
      <% @results.each do |user| %>
        <% if user.firstname != current_user.firstname && user.lastname != current_user.lastname %>
          <div class="family-avatar-container d-inline-block m-3">
            <% if User.find(user).avatar.present? %>
              <%= image_tag User.find(user).avatar_url(:thumb), class: 'avatar family-avatar' %>
            <% else %>
              <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
            <% end %>
            <br />
            <strong>
              <%= "#{User.find(user).firstname} #{User.find(user).lastname}"  %>
            </strong>
            <% if @pending.include?(user) %>
              <p class="text-muted mt-2 mb-0">You have already sent an invitation to this person and are waiting for them to Accept or Deny it.</p>
            <% elsif @requests.include?(user) %>
              <p class="text-muted mt-2 mb-0">You already have an incoming invitation from this person. Click below to Accept or Deny it.</p>
              <div class="d-flex justify-content-center">
                <div class="d-inline">
                  <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: user.id}) do %>
                    <input class="btn btn-green btn-sm mt-2 mx-1" type=submit value='Accept'>
                  <% end %>
                </div>
                <div class="d-inline">
                  <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: user.id}) do %>
                    <input class="btn btn-danger btn-sm mt-2 mx-1" type=submit value='Deny'>
                  <% end %>
                </div>
              </div>
            <% else %>
              <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                <input class="btn btn-outline-success btn-sm mt-2" type=submit value='Invite to my family'>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p class="lead"><strong>No results found</strong></p>
          <p><strong>NOTE:</strong> Search results will not include yourself or users currently added to your family.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Back to Family', friends_path, class: 'btn btn-blue' %>
</div>