<h3>Hi <%= @friend.firstname %>,</h3>

<p style="margin-bottom: 0;"><strong><%= @user.firstname %> <%= @user.lastname[0] %>.</strong> has accepted your invitation to join their family on</p>
<div class="brand mb-4">
  <a href="<%= root_url %>">
    <span class="mr-1 fpf-blue">family</span><span class="mr-1 fpf-green">photo</span><span class="fpf-blue">feed</span>
  </a>
</div>

<% if @user.avatar.present? %>
  <%= image_tag @user.avatar_url(:thumb) %>
<% end %>

<p>You can now view and comment on each other's uploaded photos.</p>

<p>Please visit the link below to see their uploaded photos now available on your home page. You may need to log in first if you are not already logged in.</p>

<p><%= link_to 'Family Photo Feed', root_url, class: 'button' %></p>