<h3>Hi <%= @friend.firstname %>,</h3>

<p style="margin-bottom: 0;"><strong><%= @user.firstname %> <%= @user.lastname[0] %>.</strong> has uploaded a new photo on</p>
<div class="brand mb-4">
  <a href="<%= root_url %>">
    <span class="mr-1 fpf-blue">family</span><span class="mr-1 fpf-green">photo</span><span class="fpf-blue">feed</span>
  </a>
</div>

<p>Click the thumbnail below to see the full-size photo and add comments:</p>

<%= link_to post_url(@post) do %>
  <%= image_tag @post.photo_url(:thumb) %>
  <p style="margin-top: 0;"><strong><%= @post.caption %></strong></p>
<% end %>

<p>You may need to log in first if you are not already logged in.</p>