<div class="form-reg py-5">
  <h2 class="mb-4">Change avatar</h2>

  <div class="mb-3">
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar_url(:thumb), class: 'avatar' %>
    <% else %>
      <%= image_tag 'default_avatar.jpg', class: 'avatar' %>
    <% end %>
  </div>

  <%= simple_form_for @user do |f| %>
    <%= f.input :avatar, label: false %>
    <%= f.submit 'Update', class: 'btn btn-green btn-300 mt-3 mb-2' %>
  <% end %>


  <%= link_to 'Cancel', user_path, class: 'btn btn-outline-blue btn-300' %>
</div>
