<div class="container py-5">
  <h2 class="mb-4">Profile</h2>

  <div class="row mb-5">
    <div class="col-12 offset-0 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2 mb-4">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar_url(:thumb), class: 'avatar img-fluid' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar img-fluid' %>
        <% end %>
      </div>
      <%= link_to 'Change avatar', change_avatar_path(current_user.id), class: 'btn btn-outline-green btn-sm mt-2' %>
    </div>

    <div class="col-12 col-lg-5 col-xl-4 user-info">
      <div class="mb-3">
        Name: <strong><%= @user.firstname %> <%= @user.lastname %></strong>
      </div>
      <div class="mb-3">
        E-mail: <strong><%= @user.email %></strong>
      </div>
        <%= link_to 'Edit user info', edit_user_path(current_user.id), class: 'btn btn-outline-green btn-sm mr-2 mb-1' %>
        <%= link_to 'Change password', edit_user_registration_path(current_user.id), class: 'btn btn-outline-green btn-sm mb-1' %>
    </div>
  </div>

  <h4 class="mb-4">Your uploaded photos:</h4>

  <% if @user.posts.empty? %>
    <p>
      You have not uploaded any photos yet. Click
      <strong><%= link_to 'Upload', new_post_path %></strong> to go to the Upload page.
    </p>
  <% else %>
    <% @user.posts.each do |post| %>
      <div class="thumb-container">
        <%= link_to post_path(post) do %>
          <%= image_tag post.photo_url(:thumb), class: 'thumbnail' if post.photo.present? %>
        <% end %> 
      </div>
    <% end %>
  <% end %>
</div>