<h2 class="profile-heading">Profile</h2>

<div class="col-10 offset-1">
  <div class="row">

    <div class="col-12 col-md-6">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar_url(:thumb), class: 'avatar' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar' %>
        <% end %>
      </div>
      <div class="edit-links bold">
        <%= link_to 'Change avatar', change_avatar_path(current_user.id) %>
      </div>
    </div>

    <div class="col-12 col-md-6 user-info">
      <br />
      Name: <span class="bold"><%= @user.firstname %> <%= @user.lastname %></span>
      <br /><br />
      Email address: <span class="bold"><%= @user.email %></span>
      <br /><br />
      <div class="edit-links bold">
        <%= link_to 'Edit user info', edit_user_path(current_user.id) %>
        <br /><br />
        <%= link_to 'Change password', edit_user_registration_path(current_user.id) %>
      </div>
    </div>

  </div>
</div>

<h4 class="profile-heading">Uploads</h4>

<div class="col-10 offset-1">
  <% if @user.posts.empty? %>
    <p>
      You have not uploaded any photos yet. Click
      <span class="bold"><%= link_to 'Upload', new_post_path %></span> to go to the Upload page.
    </p>
  <% else %>
    <% @user.posts.each do |post| %>
      <div class="thumb-container">
        <%= link_to post_path(post) do %>
          <%= image_tag post.photo_url(:thumb), class: 'thumbnail' if post.photo.present? %>
        <% end %> 
      </div>
    <% end %>
  <% end %>

</div>
