<h2 class="profile-heading">Profile</h2>

<div class="col-10 offset-1">
  <div class="row">
    <div class="col-3">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar_url(:thumb), class: 'avatar' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar' %>
        <% end %>
      </div>
      <div class="edit-links bold">
        <%= link_to 'Change avatar', change_avatar_path(current_user.id) %>
      </div>
    </div>

    <div class="col-6 user-info">
      <br />
      Name: <span class="bold"><%= @user.firstname %> <%= @user.lastname %></span>
      <br /><br />
      Email address: <span class="bold"><%= @user.email %></span>
      <br /><br />
      <div class="edit-links bold">
        <%= link_to 'Edit user info', edit_user_path(current_user.id) %>
        <br /><br />
        <%= link_to 'Change password', edit_user_password_path(current_user.id) %>
      </div>
    </div>

    <div class="col-3">
      <br />
      Account type: Free
      <br />
      <span class="edit-links bold">
        <%= link_to 'Upgrade to Premium!', url: '#' %>
      </span>
      <br /><br />
      Email notifications: <span class="bold">On</span>
      <br /><br />
      Frequency: <span class="bold">Each new photo</span>
      <br /><br />
      Name format: <span class="bold">First name, last initial</span>
    </div>
  </div>
</div>

<h4 class="profile-heading">Family members</h4>

<div class="col-10 offset-1">
  Family member thumbnails go here
</div>

<h4 class="profile-heading">Uploads</h4>

<div class="col-10 offset-1">
  Uploaded posts go here
</div>
