<h2 class="profile-heading">Profile</h2>

<div class="col-10 offset-1">
  <div class="row">
    <div class="col-3">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar_url(:thumb), class: 'avatar' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar' %>
        <% end %>
      </div>
      <div class="edit-links bold">
        <%= link_to 'Change avatar', change_avatar_path(current_user.id) %>
      </div>
    </div>

    <div class="col-6 user-info">
      <br />
      Name: <span class="bold"><%= @user.firstname %> <%= @user.lastname %></span>
      <br /><br />
      Email address: <span class="bold"><%= @user.email %></span>
      <br /><br />
      <div class="edit-links bold">
        <%= link_to 'Edit user info', edit_user_path(current_user.id) %>
        <br /><br />
        <%= link_to 'Change password', edit_user_registration_path(current_user.id) %>
      </div>
    </div>

    <div class="col-3">
      <br />
      Account type: Free
      <br />
      <button type="button" class="btn btn-green profile-btn btn-upgrade" data-toggle="modal" data-target="#adFreeModal">
        Upgrade to Ad-free
      </button>
      <br /><br />
      Email notifications: <span class="bold">On</span>
      <br /><br />
      Frequency: <span class="bold">Each new photo</span>
      <br /><br />
      Name format: <span class="bold">First name, last initial</span>
    </div>
  </div>
</div>

<h4 class="profile-heading">Family members</h4>

<div class="col-10 offset-1 family-members">
  <% if @user.family.empty? %>
    <p>
      You have not added any family members yet.
    </p>
  <% else %>
    <% @user.family.each do |user_id| %>
      <div class="family-avatar-container">
        <% if User.find(user_id).avatar.present? %>
          <%= image_tag User.find(user_id).avatar_url(:thumb), class: 'avatar family-avatar' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', class: 'avatar family-avatar' %>
        <% end %>
      <br />
        <span class="bold">
          <%= "#{User.find(user_id).firstname} #{User.find(user_id).lastname}"  %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Invite people to my family', invite_path(current_user.id), class: 'btn btn-blue profile-btn btn-invite' %>

<h4 class="profile-heading">Uploads</h4>

<div class="col-10 offset-1">
  <% if @user.posts.empty? %>
    <p>
      You have not uploaded any photos yet. Click
      <span class="bold"><%= link_to 'Upload', new_post_path %></span> to go to the Upload page.
    </p>
  <% else %>
    <% @user.posts.each do |post| %>
      <div class="thumb-container">
        <%= link_to post_path(post) do %>
          <%= image_tag post.photo_url(:thumb), class: 'thumbnail' if post.photo.present? %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>

<!-- Ad-free Modal -->
<div class="modal fade" id="adFreeModal" tabindex="-1" role="dialog" aria-labelledby="adFreeModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adFreeModalLabel">Ad-free</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Coming soon: You will be able to pay a small monthly fee to use this site without any advertisements.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
