<div class="form-reg">
  <h2 class="mb-4">Change your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="text-left">
      <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
    </div>

    <%= f.button :submit, "Change my password", class: 'btn btn-green btn-300 my-4' %>
  <% end %>

  <%= link_to 'Cancel', :back, class: 'btn btn-outline-blue btn-sm mt-3' %>
</div>