<div class="form-reg">
  <h2 class="mb-4">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: "E-mail address",
                  input_html: { autocomplete: "email" } %>

      <%= f.input :password,
                  required: false,
                  label: false,
                  placeholder: "Password",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <%= f.button :submit, "Log in", class: 'btn btn-blue btn-300 my-4' %>

    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-green btn-sm mt-4 mr-2' %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot password", new_password_path(resource_name), class: 'btn btn-outline-blue btn-sm mt-4' %>
    <% end -%>
  <% end %>

  
</div>
