<div class="form-reg py-5">
  <h2 class="mb-4">Edit Post</h2>

  <%= simple_form_for @post do |f| %>
    <%= f.input :photo %>
    <%= f.input :caption %>
    <%= f.submit 'Update', class: 'btn btn-green btn-300 mt-4 mb-2' %>
  <% end %>

  <%= link_to 'Cancel', post_path, class: 'btn btn-outline-blue btn-300' %>
</div>
