<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <% @posts.each do |post| %>
  <div class="card">
    <div class="row post-header">
      <div class="col-6 emphasis text-left">
        <%= post.caption %>
      </div>
      <div class="col-6 handle text-right">
        Uploaded by: <%= post.user.name %>
      </div>
    </div>
      <%= image_tag post.photo %>
      <div class="post-actions text-right">
        <% if current_user && current_user == post.user %>
          <%= link_to 'Edit', edit_post_path(post) %>
        <% end %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
  <% end %>
</div>
