<div class="row" id="quiver">
  <div class="col-1" id="arrow">
    <%= link_to @post.next do %>
      <i class="fas fa-arrow-left fa-2x"></i><br />
      Newer
    <% end %>
  </div>

  <div class="card col-10">
    <div class="row">
      <div class="col w-50 img-container">
        <%= image_tag @post.photo, class: 'img-fluid' %>
      </div>

      <div class="col w-50">
        <div class="post-header">
          <div class="row">
            <div class="col-6 bold text-left">
              <%= @post.caption %>
            </div>
            <div class="col-6 handle text-right">
              Uploaded by: <br />
              <% if @post.user.avatar.present? %>
                <%= image_tag @post.user.avatar_url(:small_thumb), class: 'tiny-thumb' %>
              <% else %>
                <%= image_tag 'default_avatar_small.png', class: 'tiny-thumb' %>
              <% end %>
              <span class="comment_handle">
                <%= @post.user.firstname %> <%= @post.user.lastname[0] %>.
              </span>
            </div>
          </div>
        </div>

        <div class="bold post-actions text-right">
          <% if current_user && current_user == @post.user %>
            <%= link_to 'Edit', edit_post_path(@post) %>
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>

        <div class="comments text-left">
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <% if comment.user.avatar.present? %>
                <%= image_tag comment.user.avatar_url(:small_thumb), class: 'tiny-thumb' %>
              <% else %>
                <%= image_tag 'default_avatar_small.png', class: 'tiny-thumb' %>
              <% end %>

              <span class="comment_handle">
                <%= comment.user.firstname %> <%= comment.user.lastname[0] %>.
              </span>:

              <%= comment.message %>
            </div>
          <% end %>

          <br />

          <%= simple_form_for Comment.new, url: post_comments_path(@post) do |f| %>
            <%= f.input :message, label: false %>
            <%= f.submit 'Add comment', class: 'btn btn-green btn-half' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-1" id="arrow">
    <%= link_to @post.previous do %>
      <i class="fas fa-arrow-right fa-2x"></i><br />
      Older
    <% end %>
  </div>
</div>
