<div class="col-10 offset-1 card">
  <div class="row">
    <div class="col">
      <%= image_tag @post.photo %>
    </div>
    <div class="col post-card">
      <div class="post-header">
        <div class="row">
          <div class="col-6 emphasis text-left">
            <%= @post.caption %>
          </div>
          <div class="col-6 handle text-right">
            Uploaded by: <%= @post.user.name %>
          </div>
        </div>
      </div>

      <div class="post-actions text-right">
        <% if current_user && current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post) %>
          <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

      <div class="comments">
        <h3>Comments</h3>

        <br />

        <% @post.comments.each do |comment| %>
          <div class="comment">
            <span class="comment_handle">
              <%= comment.user.name %>:
            </span>

            <%= comment.message %>
          </div>
        <% end %>

        <br />

        <%= simple_form_for Comment.new, url: post_comments_path(@post) do |f| %>
          <%= f.input :message %>
          <%= f.submit 'Add Comment', class: 'green-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
