<!DOCTYPE html>
<html>
  <head>
    <title>familyphotofeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <h5>Coming soon!</h5> -->

    <!-- -->

    <%= link_to 'familyphotofeed', root_path, class: 'h1' %>

    <br/>

    <% if current_user %>
      Hello, <%= current_user.name %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <!-- -->

  </body>
</html>
