<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Photo Feed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-light sticky-top navbar-expand-lg">
        <div class="container-sm">
          <%= link_to 'family', root_path, class: 'navbar-brand mr-1' %><%= link_to 'photo', root_path, class: 'navbar-brand navbar-brand-green mr-1' %><%= link_to 'feed', root_path, class: 'navbar-brand' %>

          <div class="d-none d-lg-block text-muted small">
            <% if current_user %>
              Hello, <%= current_user.firstname %>!
            <% end %>
          </div>

          <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="collapsingNavbar" class="collapse navbar-collapse align-self-center">
            <ul class="navbar-nav ml-auto">
              <% if current_user %>
                <li class="nav-item ml-3">
                  <%= link_to 'Upload', new_post_path, class: 'nav-link' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
                </li><li class="nav-item ml-3">
                  <%= link_to 'Family', friends_path, class: 'nav-link d-inline-block' %>
                    <% if current_user.requested_friends.count > 0 %>
                      <span class="badge badge-pill badge-danger d-inline">
                        <%= current_user.requested_friends.count %>
                      </span>
                    <% end %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item ml-3">
                  <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
                </li>
                <li class="nav-item ml-3">
                  <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid text-center pt-0 pb-2 py-sm-5">
      <%= yield %>
    </main>

    <footer class="footer py-3">
      <div class="container small">
        <%= link_to 'Privacy Policy', privacy_path %>
        <%= link_to 'Terms of Use', terms_path, class: 'ml-2 ml-sm-3' %>

        <span class="text-muted float-right">&copy; 2020 Family Photo Feed</span>
      </div>
    </footer>
  </body>
</html>
