<!DOCTYPE html>
<html>
  <head>
    <title>Family Photo Feed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <h5>Coming soon!</h5> -->

    <!-- -->
    <% if current_user %>
      <div class="top-nav">
        <div class="col-10 offset-1">
          <div class="row">
            <div class="col-4 brand float-left">
              <%= link_to 'family', root_path, class: 'h1' %>
              <span class="brand-green"><%= link_to 'photo', root_path, class: 'h1' %></span>
              <%= link_to 'feed', root_path, class: 'h1' %>
            </div>
            <div class="col-4 add text-center">
              Hello, <%= current_user.name %>!
              </div>
            <div class="col-4 add text-right">
                <%= link_to 'Upload', new_post_path %>
                <%= link_to 'Profile', root_path %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
        <br class="clear-fix" />
      </div>
    <% end %>

    <br/>

    <!-- <div class="col-6 offset-3 text-center">
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <div class="clear-fix"></div>
    </div> -->

    <%= yield %>

    <!-- -->

  </body>
</html>
