<!DOCTYPE html>
<html>
  <head>
    <title>familyphotofeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <h5>Coming soon!</h5> -->

    <!-- -->

    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="brand">
          <%= link_to 'familyphotofeed', root_path, class: 'h1' %>
        </div>
        <div class="add">
          <% if current_user %>
            You're signed in as <%= current_user.email %>.
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <br class="clear-fix" />
    </div>

    <br/>

    <% if current_user %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>

    <!-- -->

  </body>
</html>
