<!DOCTYPE html>
<html>
  <head>
    <title>Family Photo Feed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-light sticky-top navbar-expand-md">
      <div class="container-sm">
        <%= link_to 'family', root_path, class: 'navbar-brand mr-1' %><%= link_to 'photo', root_path, class: 'navbar-brand navbar-brand-green mr-1' %><%= link_to 'feed', root_path, class: 'navbar-brand' %>

        <div class="d-none d-lg-block text-muted small">
          <% if current_user %>
            Hello, <%= current_user.firstname %>!
          <% end %>
        </div>

        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="collapsingNavbar" class="collapse navbar-collapse align-self-center">
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
              <li class="nav-item ml-3">
                <%= link_to 'Upload', new_post_path, class: 'nav-link' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to 'Profile', user_path(current_user.id), class: 'nav-link' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item ml-3">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="nav-item ml-3">
                <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>

      </div>
    </nav>

    <div class="container-fluid content-area">
      <%= yield %>
    </div>
  </body>
</html>
