<!DOCTYPE html>
<html>
  <head>
    <title>familyphotofeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'familyphotofeed', root_path, class: 'h1' %>

        <% if current_user %>
          Hello, <%= current_user.email %>
          <%= link_to 'Logout',

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- <h2>Coming soon!</h2> -->
  </body>
</html>
